{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    



    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12 col-xl-3">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Platform Settings</h6>
            </div>
            <div class="card-body p-3">
              <h6 class="text-uppercase text-body text-xs font-weight-bolder">Account</h6>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  Some text
                  
                </li>
                <li class="list-group-item border-0 px-0">
                  Some text
                </li>
                <li class="list-group-item border-0 px-0">
                  Some text
                </li>
              </ul>
              <h6 class="text-uppercase text-body text-xs font-weight-bolder mt-4">Application</h6>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
      
              </ul>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
      
              </ul>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
      
              </ul>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
      
              </ul>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
      
              </ul>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
      
              </ul>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
                <li class="list-group-item border-0 px-0">
                  Some menu
                </li>
      
              </ul>
            </div>
          </div>
        </div>
        
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}